.padding_register {
  padding-top: 7vh;
  width: 120vh;
  margin: auto;
  border-radius: 2vh;
}

.form_register {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2vh;
  margin: 0 auto;
  background-color: white;
}
.register {
  background-image: url('https://wellbalancedenglishapi.xyz/img/5dc92426acc4d50001611c96.jpg');
  border-radius: 2vh 0vh 0vh 2vh;
}
.form_register2 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
